USE [JA]
GO
/****** Object:  Table [dbo].[NearByLocations]    Script Date: 10/21/2018 12:05:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NearByLocations](
	[location1] [nvarchar](100) NULL,
	[location2] [nvarchar](100) NULL,
	[location3] [nvarchar](100) NULL,
	[location4] [nvarchar](100) NULL,
	[location5] [nvarchar](100) NULL,
	[location6] [nvarchar](100) NULL,
	[location7] [nvarchar](100) NULL
) ON [PRIMARY]

GO
